/*Header*/
.index{
    float:left;width: 600px;height: 230px;position: relative;left:  30%;
}
.a-propos{
    color: black;font-size: 26px;position: absolute;left: 35px;top: 46px;
}
.contact{
    color: black;font-size: 26px;position: absolute;left: 35px;top: 76px;
}
.inscription{
    color: white;
    font-size: 28px;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #0178B9;
    padding: 14px 20px;
    border-radius: 16px;
}
.connexion{
    color: white;
    font-size: 26px;
    position: absolute;
    top: 46px;
    right: 210px;
}

/*Footer*/
.instagramimg{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 18px;
    float: left;
}
.facebookimg{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 18px;
    float: left;
}
.twitterimg{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 18px;
    float: left;
}
.parMathieuMaxim{
    width: 250px;
    position: relative;
    left: 1270px;
    bottom: 10px;
    color: #ee936c;
}



/*index*/
.titre{
    position: relative;
    left: 32%;
    top: 60px;
    margin: 30px;
    font-size: 70px;
    font-weight: bold;
    width: 800px;/*pour eviter que la page soit trop grande*/
    


}
.titrebackground{
    background-color: #f5b9a0;
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 30px;
}
.minipresentation{
    overflow-wrap: break-word;
    width: 600px;
    font-size: 30px;
    position: relative;
    left: 32%;
    top: 60px;

}
.volleyball{
    color:black;
    font-size: 30px;
    position: absolute;
    left: 20%;
}
.volleyimg{
    float: left;
    width: 600px;
    height: 400px;
    position: relative;
    left: 100px;
    top: 100px;
}
.soccer{
    color: black;
    font-size: 30px;
    position: absolute;
    right: 22%;


}
.soccerimg{
    float: right;
    width: 600px;
    height: 400px;
    position: relative;
    right: 100px;
    top: 100px;
}

