/*Header*/
.index{
    float:left;width: 600px;height: 230px;position: relative;left:  30%;
}
.a-propos{
    color: black;font-size: 26px;position: absolute;left: 35px;top: 20px;
}
.contact{
    color: black;font-size: 26px;position: absolute;left: 35px;top: 50px;
}

.inscription{
    color: white;
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 18px;
    background-color: #0178B9;
    padding: 14px 20px;
    border-radius: 16px;
}
.connexion{
    color: white;
    font-size: 26px;
    position: absolute;
    top: 33px;
    right: 200px;
}
/*boutton revenir aux menu principale + d'autre modification a cause de se boutton*/
.revenir{
    color: white;
    font-size: 26px;
    background-color: #104776;
    padding: 6px 10px;
    position: absolute;
    top: 18px;
    left: 50px;
}
.revenircontact{
    color: black;font-size: 26px;position: absolute;left: 50px;top: 65px;
}
.revenirarrow{
    width: 4%;
    float: none;
    position: relative;
    top: 7px;
    right: 10px;
}
.revenircontactsport{
    color: black;font-size: 26px;position: absolute;left: 50px;top: 95px;
}


/*Footer*/
.instagramimg{
    width: 55px;
    height: 55px;
    margin-left: 20px;
    margin-top: 18px;
    
}
.facebookimg{
    width: 55px;
    height: 55px;
    margin-left: 10px;
    margin-top: 18px;
    
}
.twitterimg{
    width: 55px;
    height: 55px;
    margin-left: 10px;
    margin-top: 18px;
    
}
.parMathieuMaxim{
    width: 250px;
    position: relative;
    left: 1270px;
    bottom: 10px;
    color: #ee936c;
}



/*index*/
.titre{
    position: relative;
    left: 32%;
    top: 60px;
    margin: 30px;
    font-size: 70px;
    font-weight: bold;
    width: 800px;/*pour eviter que la page soit trop grande*/
    


}
.titrebackground{
    background-color: #f5b9a0;
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 30px;
}
.minipresentation{
    overflow-wrap: break-word;
    width: 600px;
    font-size: 30px;
    position: relative;
    left: 32%;
    top: 60px;

}
.volleyball{
    color:black;
    font-size: 30px;
    position: absolute;
    left: 20%;
}
.volleyimg{
    float: left;
    width: 600px;
    height: 400px;
    position: relative;
    left: 100px;
    top: 100px;
}
.soccer{
    color: black;
    font-size: 30px;
    position: absolute;
    right: 22%;


}
.soccerimg{
    float: right;
    width: 600px;
    height: 400px;
    position: relative;
    right: 100px;
    top: 100px;
}

/* A propos */
.page-a-propos{
    font-size: 70px;
    position: absolute;
    left: 41%;
    top: 90px;
}
.imgapropos{
    width: 50%;
    float: none;
    position: absolute;
    left:  25%;
    top: 230px;
}
.apropostext{
    font-size: 24px;
    overflow-wrap: break-word;
    width: 800px;
    position: relative;
    left: 25%;
    top: 400px;
}
.tableauhorrairepos{
    position: absolute;
    top: 900px;
    left: 30px;
}
.horraire{
    font-size: 35px;
    color:#104776;
    position: relative;
    left: 140px;
    top: 10px;
}
.tableauhorraire{

    border: 2px solid #104776;
    width: 400px;
    color: #104776;
    font-size: 20px;
}
.tableauprixpos{
    position: absolute;
    top: 900px;
    left: 550px;
}
.prix{
    font-size: 35px;
    color:#104776;
    position: relative;
    left: 170px;
    top: 10px;
}
.tableauprix{
    border: 2px solid #104776;
    width: 400px;
    color: #104776;
    font-size: 20px;
}
.autreservicepos{
    position: absolute;
    top: 900px;
    left: 1100px;
    font-size: 20px;
}
.autreservice{
    font-size: 35px;
    color:#104776;
    position: relative;
    top: 10px;
    left: 30px;
}

/*Contact*/
.page-contact{
    font-size: 70px;
    position: absolute;
    left: 42%;
    top: 90px;

}
.cartepos{
    width: 600px;
    height: 450px;
    position: relative;
    left: 130px;
    top: 50px;
    border: 0;
}
.textcontact{
    position: absolute;
    right: 280px;
    top: 265px;
    font-size: 25px;
}

/*Volleyball*/
.titrevolleyball{
    font-size: 70px;
    position: absolute;
    left: 42%;
    top: 90px;
}
.volleyballvideo{
    width: 672px;
    height: 378px;
    position: relative;
    left: 100px;
    top: 30px;
}
.objectifvolleyball{
    font-size: 23px;
    position: absolute;
    right:  100px;
    top: 270px ;
}
.joueurvolley{
    position: absolute;
    top: 700px;
    left: 200px;
    text-align: center;

}
.entraineurvolley{
    position: absolute;
    top: 700px;
    right: 200px;
}